<div class="row">
  <div class="col-md-12">

    <h1>Landing</h1>
    <hr><br>

    <div *ngIf="auth?.token; then doSomething; else doSomethingElse;"></div>
    <ng-template #doSomething>
      <p>You logged in <em>{{ auth.user }}!</em></p>
      <button class="btn btn-primary" (click)="logOut()">Logout</button>
    </ng-template>
    <ng-template #doSomethingElse>
      <a [routerLink]="['/login']" class="btn btn-primary">Login</a>
      <a [routerLink]="['/signup']" class="btn btn-primary">Signup</a>
    </ng-template>

    <button (click)="getExampleData()" class="btn btn-primary">Get Data</button>

    <br>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Current State</h5>
        <ul>
          <li><strong>auth.user</strong> - {{ auth.user }}</li>
          <li><strong>auth.token</strong> - {{ auth.token }}</li>
          <li><strong>auth.tokenExpires</strong> - {{ auth.tokenExpires }}</li>
          <li><strong>user</strong> - {{ user || 'null' | json }}</li>
          <li><strong>errorMessage</strong> - {{ errorMessage || 'null' }}</li>
        </ul>
      </div>
    </div>

    <div class="card" *ngIf="exampleData">
      <div class="card-body">
        <h5 class="card-title">Example Data fetched from server</h5>
        <p class="server-content">{{ exampleData | json }}</p>
      </div>
    </div>

  </div>
</div>
