<ActionBar class="action-bar" title="Landing"></ActionBar>
<StackLayout class="p-20" *ngIf="authState$ | async as state">
  <Placeholder *ngIf="state.auth?.token; then doSomething; else doSomethingElse;"></Placeholder>

  <ng-template #doSomething>
    <Label class="h1 text-center"
      textWrap="true"
      text="You logged in as {{ state?.auth?.user }}!" ></Label>
    <Button class="btn btn-primary btn-rounded-lg"
      text="Logout"
      (tap)="logOut()"></Button>

    <ListView class="list-group">
      <Label text="state.auth.user: {{ state.auth.user }}" class="list-group-item-heading"></Label>
      <Label text="state.auth.token: {{ state.auth.token }}" class="list-group-item-heading"></Label>
      <Label text="state.auth.tokenExpires: {{ state.auth.tokenExpires }}" class="list-group-item-heading"></Label>
      <Label text="state.auth.user: {{ state.auth.user || 'null' | json }}" class="list-group-item-heading"></Label>
      <Label text="state.auth.errorMessage: {{ state.errorMessage || 'null' }}" class="list-group-item-heading"></Label>
    </ListView>

    <Button class="btn btn-primary btn-rounded-lg"
      text="Get Example Data"
      (tap)="getExampleData()"></Button>

    <TextView *ngIf="exampleData$ | async as data" text="{{ data | json }}"></TextView>
  </ng-template>

  <ng-template #doSomethingElse>
    <FlexboxLayout alignItems="center" justifyContent="space-between">
      <Button class="btn btn-primary btn-rounded-sm"
        text="Login"
        [nsRouterLink]="['/login']"
        width="155"></Button>
      <Button class="btn btn-primary btn-rounded-sm"
        text="Signup"
        [nsRouterLink]="['/signup']"
        width="155"></Button>
    </FlexboxLayout>
  </ng-template>
</StackLayout>
