<ActionBar class="action-bar" title="Landing"></ActionBar>
<StackLayout class="p-20" *ngIf="authState$ | async as state">
  <Placeholder *ngIf="state.auth?.token; then doSomething; else doSomethingElse;"></Placeholder>

  <ng-template #doSomething>
    <Label text="You logged in as {{ state?.auth?.user }}!" class="h1 text-center" textWrap="true"></Label>
    <Button text="Logout" class="btn btn-primary btn-rounded-lg" (tap)="logOut()"></Button>

    <ListView class="list-group">
      <Label text="state.auth.user: {{ state.auth.user }}" class="list-group-item-heading"></Label>
      <Label text="state.auth.token: {{ state.auth.token }}" class="list-group-item-heading"></Label>
      <Label text="state.auth.tokenExpires: {{ state.auth.tokenExpires }}" class="list-group-item-heading"></Label>
      <Label text="state.auth.user: {{ state.auth.user || 'null' | json }}" class="list-group-item-heading"></Label>
      <Label text="state.auth.errorMessage: {{ state.errorMessage || 'null' }}" class="list-group-item-heading"></Label>
    </ListView>

    <Button text="Get Example Data" (tap)="getExampleData()" class="btn btn-primary btn-rounded-lg"></Button>
    <TextView *ngIf="exampleData$ | async as data" text="{{ data | json }}"></TextView>
  </ng-template>

  <ng-template #doSomethingElse>
    <StackLayout orientation="horizontal">
      <Button text="Login" class="btn btn-primary btn-rounded-lg" [nsRouterLink]="['/login']" margin="8"></Button>
      <Button text="Signup" class="btn btn-primary btn-rounded-lg" [nsRouterLink]="['/signup']" margin="8"></Button>
    </StackLayout>
  </ng-template>

</StackLayout>
