<ActionBar class="action-bar" title="Login"></ActionBar>
<StackLayout class="form">
    <Label *ngIf="errorMessage$ | async as error"
           class="text-danger"
           [text]="error" textWrap="true"></Label>

    <StackLayout class="input-field">
      <TextField hint="E-Mail" class="input"
      [(ngModel)]="user.email"
      name="email"
      type="email"
      required></TextField>
      <StackLayout class="hr-light"></StackLayout>
    </StackLayout>

    <StackLayout class="input-field">
      <TextField hint="Password" class="input"
      [(ngModel)]="user.password"
      name="password"
      type="password"
      required
      secure="true"></TextField>
      <StackLayout class="hr-light"></StackLayout>
    </StackLayout>

    <Button class="btn btn-primary btn-rounded-lg" text="Login" type="submit" (tap)="onSubmit()"></Button>
    <Button class="btn btn-primary btn-rounded-lg" text="Cancel" [nsRouterLink]="['/']"></Button>
    <Button class="btn btn-primary btn-rounded-lg" text="Signup" [nsRouterLink]="['/signup']"></Button>

  </StackLayout>
